<h1><%=@user.name%>'s Portfolio</h1>

<%@posts.each do |post|%>
  <p>
    <h2><%= post.title%></h2>
  </p>

  <p>
    <%= post.assignment.title%>
  </p>

  <p>
    <%=post.content.html_safe%>
  </p>

  <h4>Comments:</h4>
    <%post.comments.each do |comment|%>
      <p>
        <%=comment.content.html_safe%>
      </p>

      <p>
        By: <%=comment.user.name%>
      </p>
    <%end%>


<%end%>
<br>

