<h1><%=@user.name%>'s Portfolio</h1>

<%@posts.each do |post|%>
  <div class="portfoliocontent">
    <p>
      <h2><%= post.title%></h2>
    </p>

    <p>
      For Assignment: <%= post.assignment.title%>
    </p>

    <p>
      <%=post.content.html_safe%>
    </p>

    <%if !post.comments.empty?%>
      <h4>Comments:</h4>
        <%post.comments.each do |comment|%>
          <div class="commentcontent">
            <p>
              <%=comment.content.html_safe%>
            </p>

            <p>
              By: <%=comment.user.name%>
            </p>
          </div>
        <%end%>
    <%end%>
  </div>
  <br>

<%end%>
<br>

<%= link_to 'Back', {:controller => 'posts', :action => 'userlist'} %>

