<h1>Assignments List</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Draft Due Date</th>
      <th>Final Due Date</th>
      <%if !current_user.admin?%>
        <th>My Editorial</th>
      <%end%>
      <th>Class Editorials</th>
      <%if current_user.admin?%>
        <th>Admin Links</th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.title %></td>
        <td><%= assignment.draft_due.strftime("%-b %-d at %I:%M%p") %></td>
        <td><%= assignment.final_due.strftime("%-b %-d at %I:%M%p") %></td>
        <%if !current_user.admin?%>
          <%if Post.where(user_id: current_user.id, assignment_id: assignment.id).exists?%>
            <%@post = Post.where(user_id: current_user.id, assignment_id: assignment.id).first%>
            <td><%=link_to "Edit/Continue Assignment", {:controller => 'posts', :action => 'edit', :id => @post.id}%></td>
          <%else%>
            <td><%= link_to "Start Assignment", new_post_path%></td>
          <%end%>
        <%end%>
        <td><%=link_to "See Posts", {:controller => 'assignments', :action => 'postlist', :id => assignment.id}%></td>
        <%if current_user.admin?%>
          <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin?%>
  <%= link_to 'Create New Assignment', new_assignment_path %>
<%end%>
